<% include header.html %>

<aside>
  <% Object.keys(show_list).sort().forEach(function(show_name) { %>
  <section class="show">
    <h3><%= show_name %></h3>
    <% Object.keys(show_list[show_name]).sort().forEach(function(episode_number) {
        episode = show_list[show_name][episode_number]
    %>
      <a href="#<%= episode.hash %>" onclick="document.querySelector('video').src='video/<%= episode.hash %>';"><%= episode_number + ' ' + episode.title %></a> <br />
    <% }); %>
  </section>
  <% }); %>
</aside>

<article class="pull-right">
  <video id="video-stream"
    class="video-js vjs-default-skin vjs-big-play-centered"
    controls autoplay preload="auto" width="640" height="360"
    data-setup="{}">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</article>

<% include footer.html %>
