<% include header.html %>

<article>
  <h3><%= stream.name %></h3>

  <video id="video-stream"
    class="video-js vjs-default-skin vjs-big-play-centered"
    controls autoplay preload="auto" width="640" height="360"
    data-setup="{}">
    <source src="<%= stream.video.url %>" type="<%= stream.video.mimeType %>" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
</article>

<% include footer.html %>
