html, body {
  margin: 0;
  padding: 0;
  color: #666;
  background: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
}
body {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  cursor: default;
}
a {
  color: #666;
  text-decoration: none;
  border-bottom: 1px solid #444;
}
a:hover, a.active {
  color: #444;
  border-bottom: 0;
}
p {
  margin: 0.5em 0;
}

/* Header */
header {
  margin: 1em;
}
h1 {
  color: #444;
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: normal;
}
h1 span {
  color: #666;
  font-size: 50%;
}
.logo {
  width: 64px;
  vertical-align: bottom;
  margin-right: 10px;
}
.by {
  float: right;
  margin: 1em;
}
h3 {
  font-weight: normal;
  margin: 0.5em 0;
}

/* Main */
main {
  margin: 2em 1em;
}
.msg {
  display: inline-block;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  font-size: 90%;
  color: #444;
}

.title {
  text-align: center;
}

aside {
  float: left;
  width: 300px;
  text-align: left;
  font-size: 70%;
}

aside h3 {
  font-weight: bold;
  margin: 2em 0 0.5em;
}

aside h3:first-child {
  margin-top: 0em;
}

.pull-right {
  float: right;
}

/* Notifications */
.notification {
  position: relative;
  text-align: center;
  z-index: 999999999;
  width: 100%;
}
.notification span {
  margin: 0 auto;
  font-size: 0.8em;
  padding: 3px 10px;
  background: #eee;
  border-radius: 3px 3px;
}

/* Form */
.form-link {
  margin: 4em 0;
}
.link {
  width: 80%;
  padding: .5em .6em;
  margin: 0;
  font: inherit;
  line-height: 1.33;
  text-align: left;
  border: 1px solid #444;
}
.link:focus {
  outline: 0;
}
.go {
  padding: .5em 1em;
  margin: 0;
  font: inherit;
  line-height: 1.33;
  color: #fff;
  background-color: #444;
  text-decoration: none;
  border: 1px solid #444;
}

/* Video Player */
#video-stream {
  margin: 0 auto;
}
